

@model dynamic 

<h3>Machine Details</h3>


<table>
    <tr>
        <td>Machine Name</td>
         <td>@Model.machineName</td>
    </tr>
   
    <tr>
        <td>Machine IP</td>
         <td>@Model.machineIP</td>
    </tr>

     <tr>
        <td>Machine OS</td>
         <td>@Model.machineOS</td>
    </tr>

     <tr>
        <td>Timestamp</td>
         <td>@Model.timestamp</td>
    </tr>
</table>


